// top level
body {
  margin: 20px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
}

img {
  width: 20px;
  height: 20px;
}

input {
  width: 100%;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 3px;
}

input:invalid {
  background: url("../lib/x.svg") no-repeat 3%;
  background-size: 15px;
  background-color: lighten(red, 35%);
}

label {
  display: block;
}

// theme setup
$themes: ("red": #FD151B,
        "dark-blue":#01295F,
        "light-blue":#437f97,
        "green":#849324,
        "yellow":#ffb30f,
        "purple":#693668);


@each $theme, $color in $themes {
  .#{$theme} {
    background-color: $color;
    color: white;
    text-align: center;
    font-size: 25px;
    transition: 0.2s;
  }
  .#{$theme}-button {
    background-color: darken($color, 10%);
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 22px;
  }
  .#{$theme}-color-selector-button {
    background-color: $color;
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px;
  }
}

// Counter Creator

#counter-creator {
  border-radius: 50px;
  align-items: center;
}

.create-button {
  width: 67.66%;
}

#cc-step-input {
  padding-right: 13px;
}

@media (max-width: 375px) {
  #tvs {
    display: flex;
    flex-direction: column;
  }
  #tvs td input {
    width: 90%;
  }
  .edit-row td > * {
    font-size: 15px;
  }
  #cc-step-input {
    padding: 0;
  }
}

// Counter Table

#counter-table, td {
  padding: 5px;
  border-spacing: 0px 5px;
}

#counter-table td {
  width: 100vw;
}

.title-td, .value-td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-td {
  max-width: 40vw;
  min-width: 40vw;
}

.value-td {
  max-width: 22vw;
}


// Round corners of buttons and counters

td:first-child, button {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

td:last-child, button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

// Editor Row

.color-editor {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.editor-inputs {
  padding: 14px;
}

@media (max-width: 480px) {
  .color-editor {
    transform: scale(0.9);
    grid-template-columns: auto auto;
  }
}

// Dropdown menus

.dropbtn {
  border: 2px solid white;
}

.dropdown-options-content {
  display: none;
  position: absolute;
  min-width: 90px;
  right: 15px;
  width: 14vw;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  text-align: center;
}

.dropdown:hover .dropdown-options-content {
  display: flex;
  border-radius: 10px;
}

.dropdown {
  width: 90px;
}

.edit-button {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 20px;
}

.delete-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 20px;
}

@media (max-width: 575px) {
  .dropdown-options-content {
    right: 20px;
  }
  #counter-table td {
    font-size: 20px;
  }
}
