// top level
#counter-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100vw;
}

img {
  width: 20px;
  height: 20px;
}

input {
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
}

label {
    display: block;
}

// theme setup
$themes: ("red":#FD151B,
        "dark-blue":#01295F,
        "light-blue":#437f97,
        "green":#849324,
        "yellow":#ffb30f,
        "purple":#693668);


@each $theme, $color in $themes {
  .#{$theme} {
    background-color: $color;
    color: white;
    text-align: center;
    font-size: 25px;
    transition: 0.2s;
  }
  .#{$theme}-button {
    background-color: darken($color, 10%);
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 22px;
  }
  .#{$theme}-color-selector-button {
    background-color: $color;
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px;
  }
}

// Counter Creator

#counter-creator {
  border-radius: 50px;
  align-items: center;
}

.create-button {
  width: 67.66%;
}

@media (max-width: 375px){
    #tvs{
        display: flex;
        flex-direction: column;
    }
    #tvs td input{
        width: 90%;
    }
    .edit-row td > * {
        font-size: 15px;
    }
}


// Counter Table



#counter-table, td {
  padding: 5px;
  border-spacing: 0px 5px;
}

#counter-table td {
  width: 100vw;
}


.title-td {
    max-width: 40vw;
    min-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Round corners of buttons and counters

td:first-child, button {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

td:last-child, button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

// Dropdown menus


.dropbtn {
  border: 2px solid white;
}


.dropdown-colors-content {
  display: none;
  position: absolute;
  right: 20vw;
  background-color: lightgrey;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  flex-direction: column;
}

.dropdown-options-content {
  display: none;
  position: absolute;
  min-width: 90px;
  right: 15px;
  width: 14vw;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  flex-direction: column;
  text-align: center;
}

.dropdown:hover .dropdown-colors-content, .dropdown:hover .dropdown-options-content {
  display: flex;
  border-radius: 10px;
}

.dropdown {
    width: 90px;
}

.edit-button {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 20px;
}

.delete-button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 20px;
}

@media (max-width: 575px){
    .dropdown-options-content {
        right: 20px;
    }
}
